<h1 style="color: red;font-weight: bold;">Admin Details</h1>
<table style="border: 1px solid red;">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Department</th>
    </tr> 
    <tr>
        <td>Anshu</td>
        <td>31</td>
        <td>45000</td>
        <td>Manager</td>
    </tr>
    <tr>
        <td>Raj</td>
        <td>30</td>
        <td>40000</td>
        <td>Sales</td>
    </tr>
    <tr>
        <td>Rohit</td>
        <td>29</td>
        <td>41000</td>
        <td>Production</td>
    </tr>
</table>
